<div data-role="content">
	<div class="ui-field-contain">
		<label for="start">Start Date:</label>
		<input placeholder="Start Date" id="start" type="text" data-role="datebox" data-options='{"mode":"calbox", "useFocus": "true", "calHighToday": "false"}'>
	</div>
	<div class="ui-field-contain">
		<label for="end">End Date:</label>
		<input placeholder="End Date" id="end" type="text" data-role="datebox" data-options='{"mode":"calbox", "useFocus": "true", "calHighToday": "false"}'>
	</div>
	<div class="ui-field-contain">
		<label for="band">Band:</label>
		<select id="band">
			<option value="all">All</option>
			<option value="X">X</option>
			<option value="K">K</option>
			<option value="Ka">Ka</option>
			<option value="Ku">Ku</option>
			<option value="Laser">Laser</option>
		</select>
	</div>
</div>