.ui-icon-connectIcon:after {
	background-image: url('../images/link.png');
	background-repeat: no-repeat;
    background-position: 4px 3px;
}

.ui-icon-disconnectIcon:after {
	background-image: url('../images/unlink.png');
	background-repeat: no-repeat;
    background-position: 4px 3px;
}

.ui-icon-dbIcon:after {
	background-image: url('../images/files-o.png');
	background-repeat: no-repeat;
    background-position: 4px 3px;
}

.ui-connection-image {
	background-color: rgba(128, 155, 166, 0.47);
}
