.ui-icon-mute:after {
	background-image: url('../images/muted.png');
	background-repeat: no-repeat;
    background-position: 5px 3px;
}

.ui-icon-unmute:after {
	background-image: url('../images/unmuted.png');
	background-repeat: no-repeat;
    background-position: 5px 3px;
}

.ui-icon-dbIcon:after {
	background-image: url('../images/files-o.png');
	background-repeat: no-repeat;
    background-position: 2px 2px;
}
